.page {
    display: flex;
    flex-flow: column, wrap;
    width: 100%;
    height: 100%;
    position: top;
    margin-top: 20%;
    align-content: center;
    align-items: center;
    background-color: slategray;
}

#hello {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5%;
}

#textBox {
    width: 50%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5%;
    resize: none;
}

button {
    width: 50%;
    height: 50%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5% 0 5% 15px;
    background-color: teal;
    color: #f3fdf3;
    font-weight: bold;
}
 .buttons {
    display: flex;
    flex-flow: row, wrap;
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
 }


